.browser-width {
  border-radius: 5px;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 13px;
  color: #fff;
  max-width: 100%;
  margin: 5px;
  padding: 5px 10px;
}
