/* Behavior
   ========================================================================= */
@media (max-width: 47.4375em) {
  .js #navigation {
    overflow: hidden;
    -moz-transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    -webkit-transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    max-height: 0;
  }
}
@media (min-width: 47.5em) {
  .js #navigation {
    max-height: 30em;
  }
}

.js body.show-nav #navigation {
  max-height: 30em;
}

#toggle-nav {
  float: right;
}
@media (min-width: 47.5em) {
  #toggle-nav {
    display: none;
  }
}

/* Theme
   ========================================================================= */
/*
 * Toggle Button
 */
.nav-button {
  display: block;
  width: 36px;
  height: 32px;
  cursor: pointer;
}

.nav-button {
  background-color: transparent;
  color: #b73b3b;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 7px 5px;
  -moz-border-radius: 1.99999px;
  -webkit-border-radius: 1.99999px;
  border-radius: 1.99999px;
  line-height: 18px;
  margin-bottom: 0;
  text-align: center;
}
.nav-button:hover, .nav-button:active {
  color: #d78181;
}
.nav-button:hover .toggle-bar, .nav-button:active .toggle-bar {
  background-color: #d78181;
}

.nav-button .bar {
  background-color: #b73b3b;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  display: block;
  margin-top: 0;
  height: 3px;
  width: 24px;
  line-height: 14px;
  vertical-align: text-top;
}

.nav-button .bar + .bar {
  margin-top: 3px;
}

/*
 * Navigation Links
 */
#navigation {
  clear: both;
  float: none;
  background: #b73b3b;
  margin-left: -36px;
  margin-right: -36px;
}
#navigation .block {
  margin-bottom: 0;
}
#navigation ul.menu li {
  float: none;
  text-align: center;
  border-bottom: 1px solid #902f2f;
  margin-bottom: 0;
}
#navigation ul.menu li.last a {
  border-bottom: 1px solid #b73b3b;
}
#navigation ul.menu li a {
  padding: .5em;
  display: block;
  text-align: center;
  color: #fff;
  text-shadow: #6a2222 0 0 1px 0px 1px #aaaaaa;
}
#navigation ul.menu li a:hover {
  background: #a43535;
}
#navigation ul.menu li a:active {
  -moz-box-shadow: #a43535 0 0 10px inset;
  -webkit-box-shadow: #a43535 0 0 10px inset;
  box-shadow: #a43535 0 0 10px inset;
  background: #c44848;
}

/*
 * Desktop Styles
 */
@media (min-width: 47.5em) {
  #navigation {
    margin-left: 0;
    margin-right: 0;
    float: right;
    clear: none;
    background: none;
  }
  #navigation .block-menu .block-title,
  #navigation .block-menu-block .block-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  #navigation ul.links,
  #navigation ul.menu {
    /* Menu block links */
    margin: 0;
    padding: 0;
    text-align: left;
    /* LTR */
  }
  #navigation ul.links li,
  #navigation ul.menu li {
    /* A simple method to get navigation links to appear in one line. */
    float: left;
    /* LTR */
    padding: 0 10px 0 0;
    /* LTR */
    list-style-type: none;
    list-style-image: none;
    border-bottom: none;
  }
  #navigation ul.links li.last a,
  #navigation ul.menu li.last a {
    border: none;
  }
  #navigation ul.links li a,
  #navigation ul.menu li a {
    color: #b73b3b;
    background: none;
  }
  #navigation ul.links li a:hover,
  #navigation ul.menu li a:hover {
    background: #a43535;
    color: #fff;
  }
  #navigation ul.links li a:active,
  #navigation ul.menu li a:active {
    -moz-box-shadow: #a43535 0 0 10px inset;
    -webkit-box-shadow: #a43535 0 0 10px inset;
    box-shadow: #a43535 0 0 10px inset;
    background: #c44848;
    color: #fff;
  }
}
