// Import Sass mixins, variables, Compass modules, etc.
@import "../_base.scss";
@import "../_layout.scss";
@import "../_theme.scss";   
@import "../_mixins.scss";


#theming-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  height: 100%;
  @include translateX(-280px);
  @include transition-property(all);
  @include transition-duration(.15s);
  @include transition-timing-function(cubic-bezier(.455,.03,.515,.955));
  width: 280px;
  background: #fff;
  background: rgba(255,255,255,.95);
  border-right: 5px solid $link-color;
  border-right-radius: 6px;
  @include box-sizing(border-box);
  padding: 46px 20px 20px 20px;
  &:hover {
    @include translateX(0px);
    #links-toggle {
      border-top: 1px solid $link-color;
      border-right: 1px solid $link-color;
      border-bottom: 1px solid $link-color;
    }
  }
} 

.no-csstransforms {
  #theming-sidebar {
    left: -280px;
    &:hover {
      left: 0;
    }
  }
}

.no-js {
  #theming-tab {
    display: none;
  }
  #theming-sidebar{
    position: static;
    @include translateX(0);
    width: auto;
  }
}

#theming-tab {
  display: block;
  @include transition-property(all);
  @include transition-duration(.15s);
  @include transition-timing-function(ease-in-out);
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: -24px;
  color: #fff;
  top: 140px;
  display: block;
  @include border-right-radius(30px);
  background: $link-color;
  height: 32px;
  line-height: 28px;
  width: 22px;
  text-align: center;
  &:hover {
    background: lighten($link-color, 10%);
  }
}
